 table {
                    border-style: solid;
                    border-color: red;
                    border-width: 5px;
                }
 body {
            background-color:bisque
        }
        hr {
            border-style:none;
            border-color:red;
            border-top-style:dotted;
            width: 20%;
            border-width: 7px;
            align-content: left;
        }
        h2 {
            font-family: arial;
            font-weight: bold;
            background-color: lightcoral; display: inline-block; border-style: solid; border-width: 4px; border-color: green;
            padding: 5px        10px;

        }   
        h1 {
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            background-color: coral; display:inline-block; Border-style: solid; border-width: 4px; border-color: green;
        }
        .container {
        text-align: center;
        }
        ol {
            font-size: 20px;

        }